<h1 class="page-heading-cb">
    Dogs for sale.
</h1>
<div class="pb-4 d-flex justify-content-end" style="padding-left: 5%; padding-right: 5%;">
<%= render 'search_form' %>
</div>
<%= render 'display_listings' %>