<h1 class="page-heading-cb">
    Dogs for sale.
</h1>
<div class="pb-4 d-flex justify-content-center" style="padding-left: 8%; padding-right: 8%;">
<%= render 'search_form' %>
</div>
<%= render 'display_listings' %>