<h1>
All listings
<%= link_to "Add listing", new_listing_path, class: "btn btn-primary" %>
</h1>

<ul>
    <% @listings.each do |listing| %>
    <li>
    <%# <a href="#"><%= "#{listing.name}: #{listing.description}" %>
    <%= link_to "#{listing.name}: #{listing.description}", listing_path(listing.id) %>
    <p>image here.</p>
    
    </li>
    <% end %>
</ul>