<h1><%= @listing.name %></h1>
<%= cl_image_tag @listing.picture.key, crop: :scale, width: 150, cloud_name: ENV["CLOUDINARY_CLOUD_NAME"] if @listing.picture.attached? %>
<p>Description: <%= @listing.description %></p>
<p>Price: $<%= @listing.price %></p>