<h1>Home Page</h1>
<span>
    <%= image_tag "https://res.cloudinary.com/marlonmoreira000/image/upload/v1651817249/cld-sample.jpg", width: 500 %>
</span>
<div class="btn-toolbar">
    <%= link_to 'Browse Dogs', listings_path, class: 'btn btn-primary' %>
</div>