<h1 class="page-heading-cb" style="font-size: 4rem">Cattlebay.</h1>
<span>
    <%= image_tag "https://res.cloudinary.com/marlonmoreira000/image/upload/v1652865946/homepage-img_phph0i.jpg", width: 500, class: "rounded-3 border border-5 border-dark mb-4 img-fluid" %>
</span>
<div class="custom-bt pt-5">
    <%= link_to 'Browse Dogs', listings_path, class: "text-light custom-bt bg-dark text-decoration-none" %>
</div>